@import "./lib.scss";
// menu colors
$menuBgColor: #001529;
$activeTextColor: #697eff;
$textColor: #bbbbbb;

:export {
  menuColor: $menuBgColor;
  menuTextColor: $textColor;
  menuActiveTextColor: $activeTextColor;
}

@include theme("dark-side");
